<div class="col">
    <h2 class="m-0 {{  '/trick/' in app.request.uri ? 'text-light':'text-dark'}}">{{ domaine }} </h2>
</div>
<div class="col">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            {% if listeUrl is defined %}
            <li class="breadcrumb-item"><a href="{{ path(listeUrl) }}">Liste</a></li>
            {% elseif profil is defined %}
                <li class="breadcrumb-item"><a href="{{ path('profil_home') }}">Votre profil</a></li>
            {% endif %}
            <li class="breadcrumb-item active">{{ action }}</li>
        </ol>
    </nav>
</div>