{% extends 'single.html.twig' %}

{% block title %}{{ parent() }} Catégorie{% endblock %}

{% block single_header %}
    {{ include('structure/_breadcrum.html.twig',
        {
            'domaine': 'Catégorie',
            'action' : 'Consultation',
            'listeUrl':'category_index'
        }) }}
{% endblock %}

{% block single_body %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        {{ category.name }}
                    </div>
                </div>
                <div class="card-body">
                    {{ category.content | raw }}
                </div>

            </div>

        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-footer">
                    Figures
                </div>
                <div class="list-group list-group-flush dropright">
                    {% for trick in category.tricks %}
                        {{ include('trick/_show_list_group_item.html.twig') }}
                    {% else %}
                        <div class="list-group-item">
                            <a class="text-success" href="{{ path('trick_new') }}">Ajouter une figure</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
