<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Site de présentation"/>
    <meta name="author" content="Emmanuel SAUVAGE"/>
    <title>SnowTricks - {% block title %}{% endblock %}</title>

    <!-- Favicons -->
    <link href="{{ absolute_url( asset('/vendor/devfolio-master/img/favicon.png')) }}" rel="icon"/>
    <link href="{{ absolute_url( asset('/vendor/devfolio-master/img/apple-touch-icon.png')) }}" rel="apple-touch-icon"/>
    <!-- Bootstrap CSS File -->
    <link href="{{ absolute_url( asset('/vendor/devfolio-master/lib/bootstrap/css/bootstrap.min.css')) }}"
          rel="stylesheet"/>
    <!-- Libraries CSS Files -->
    <link href="{{ absolute_url( asset('/vendor/devfolio-master/lib/font-awesome/css/all.min.css')) }}"
          rel="stylesheet"/>
    <link href="{{ absolute_url( asset('/vendor/devfolio-master/lib/animate/animate.min.css')) }}" rel="stylesheet"/>
    <link href="{{ absolute_url( asset('vendor/devfolio-master/lib/ionicons/css/ionicons.min.css')) }}"
          rel="stylesheet"/>
    <link href="{{ absolute_url( asset('/vendor/devfolio-master/lib/lightbox/css/lightbox.min.css')) }}"
          rel="stylesheet"/>
    <link href="{{ absolute_url( asset('/vendor/DataTables/datatables.min.css')) }}" rel="stylesheet" type="text/css"/>
    <!-- Main Stylesheet File -->
    <link href="{{ absolute_url( asset('/vendor/devfolio-master/css/style.css')) }}" rel="stylesheet"/>

    <script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/jquery/jquery.min.js')) }}"></script>

    {% block stylesheets %}
    {% endblock %}

</head>
<body id="page-top"  class="{{  '/trick/' in app.request.uri ? 'bg-image':''}}"
      style="{{  '/trick/' in app.request.uri ? 'background-image:url(' ~ absolute_url( asset('./img/fond_snowtricks.jpg')) ~ ')':''}} ">
{{ include('structure/_header.html.twig') }}

{% block body %}
{% endblock %}

<div id="preloader"></div>

{{ include('structure/_footer.html.twig') }}



<!-- JavaScript Libraries -->

<script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/jquery/jquery-migrate.min.js')) }}"></script>
<script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/popper/popper.min.js')) }}"></script>
<script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/bootstrap/js/bootstrap.min.js')) }}"></script>
<script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/easing/easing.min.js')) }}"></script>
<script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/counterup/jquery.waypoints.min.js')) }}"></script>
<script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/counterup/jquery.counterup.js')) }}"></script>
<script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/owlcarousel/owl.carousel.min.js')) }}"></script>
<script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/lightbox/js/lightbox.min.js')) }}"></script>
<script src="{{ absolute_url( asset('/vendor/devfolio-master/lib/typed/typed.min.js')) }}"></script>
<!-- Template Main Javascript File -->
<script src="{{ absolute_url(asset('/vendor/devfolio-master/js/main.js')) }}"></script>

{% block javascripts %}
{% endblock %}

</body>
</html>
