<article class="card">
    <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
        <img src="{{ absolute_url(asset('/img/trick_default.jpg')) }}" alt=""
             class="card-img-top">
    </a>
    <div class="card-body">
        <h4>
            <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                {{ trick.name }}
            </a>
        </h4>
    </div>
    <div class="card-footer ">
        <div class="bottom-right d-flex  flex-row">
            <a class="btn btn-info btn-sm "
               href="{{ path('trick_edit', {'slug': trick.slug}) }}">
                <i class="fas fa-edit"></i>
            </a>
        </div>
    </div>

</article>