{% if not trick.images.empty or not trick.videos.empty %}
    <div class="d-block d-sm-none text-center">
        <button class="btn btn-info mt-4"
                onclick="this.remove(); $('.scrollgallery').removeClass('d-none');">Voir les médias
        </button>
    </div>
{% endif %}
<div id="trick-media" class="scrollgallery d-none d-sm-block">
    <div class="d-flex align-items-start bd-highlight mb-3">
        {% for image in trick.images %}

                <div class="col-xl-4 col-lg-6 col-md-6 col-12 {{ loop.index0 >0 ?'':'d-none' }}">
                    <div class="card  " id="media-{{ image.name }}">
                        <img class="card-img-top image-pop" src="{{ asset(image.url) }}"
                             alt="Card image cap"
                        >
                        <div class="bottom-right">

                            <button class="media-delete btn btn-danger "
                                    data-msg="trick_images_{{ loop.index0 }}"
                                    data-media="{{ image.name }}">
                                <i class="fas fa-trash"></i>
                            </button>
                            <span class="media-edit btn btn-info "
                                  onclick="showOtherImage({{ loop.index0 }})">
                                <i class="fas fa-edit"></i>
                            </span>
                        </div>

                    </div>
                </div>

        {% endfor %}
        {% for video in trick.videos %}
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="card " id="media-{{ video.id }}">
                    <div class="card-body ">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="{{ video.url }}" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="bottom-right">

                            <button class="media-delete btn btn-danger "
                                    data-msg="trick_videos_{{ loop.index0 }}"
                                    data-media="{{ video.id }}">
                                <i class="fas fa-trash"></i>
                            </button>
                            <span class="media-edit btn btn-info "
                                  onclick="$('#video_{{ loop.index0 }}').removeClass('d-none')">
                                <i class="fas fa-edit"></i>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
<div class="bg-light">
    <div class="row">
        {% for image in trick.images %}
            <div id="image_{{ loop.index0 }}" class="d-none col-xl-6">
                {{ form_widget(form.images[loop.index0]) }}
            </div>
        {% endfor %}
        {% for video in trick.videos %}
            <div id="video_{{ loop.index0 }}" class="d-none col-xl-6">
                {{ form_widget(form.videos[loop.index0]) }}
            </div>
        {% endfor %}
    </div>
</div>
<div class="card-footer">
    <div id="trick-media-new">
        <div class="row">
            <div class="col-xl-6 media-add" id="media-add-image"
                 data-prototype="{{ form_row(form.images.vars.prototype) | e('html_attr') }}"></div>
            <div class="col-xl-6 media-add" id="media-add-video"
                 data-prototype="{{ form_row(form.videos.vars.prototype) | e('html_attr') }}"></div>
        </div>
    </div>

    <div class="pt-4 pb-3">
        <a href="#" id="add-image" class="btn btn-dark">Ajouter une image</a>
        <a href="#" id="add-video" class="btn btn-dark">Ajouter une video</a>
    </div>

    <hr>
</div>