{% extends 'single.html.twig' %}

{% block title %}{{ parent() }} Figure{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('css/trick.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/summernote/summernote-bs4.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/select2/css/select2.min.css')) }}">
    <link rel="stylesheet"
          href="{{ absolute_url( asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')) }}">
{% endblock %}

{% block single_header %}
    {{ include('structure/_breadcrum.html.twig', {'domaine': 'Figure' , 'action' : 'Modification'}) }}
{% endblock %}

{% block single_body %}


    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-9 col-xl-7">
            <article class="card ">
                <div class="figure-mainimage-container">
                    <img id="main_img_nothing" src="{{ absolute_url(asset('img/trick_default.jpg')) }}" alt="Snow" class="d-none" style="width:100%;">
                    <img id="main_img" src="{{ absolute_url(asset(trick.mainimage)) }}" alt="Snow" style="width:100%;">
                    <div class="centered">{{ trick.name }}</div>
                    <div class="top-right">
                        <span class="btn btn-danger "
                                onclick="$('#trick_images_0').remove();$('#main_img').addClass('d-none');$('#main_img_nothing').removeClass('d-none');">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="media-edit btn btn-info "
                              onclick="showMainImage();">
                                <i class="fas fa-edit"></i>
                            </span>
                    </div>
                </div>
                {{  include ('trick/_edit_media.html.twig') }}
                {{  include ('trick/_form.html.twig') }}
                <div class="card-footer mb-5">
                    <div class="row">
                        <div class="col  d-flex justify-content-between align-items-center">
                            <button class="btn btn-success " name="new" id="new" >
                                <i class="fas fa-save"></i> Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="d-none">
        {{  form_rest(form) }}
    </div>
    {{ form_end(form) }}
    {{ include('trick/_trick_imagemodal.html.twig') }}
{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url( asset('js/trick_media.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/summernote/summernote-bs4.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/select2/js/select2.full.min.js')) }}"></script>
    <script>
        $(function () {
            // Summernote
            $('.textarea').summernote();

            //Initialize Select2 Elements
            $('.select2').select2({
                theme: 'bootstrap4'
            });

            $('.select2-selection__choice').addClass('bg-light');

            $(document).on('change', '.custom-file-input', function () {
                let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
                $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
            });
        })
    </script>
{% endblock %}


