<div class="card-body">
    <div class="form-group row">
        {{ form_label(form.username,'', { 'label_attr': {'class':'col-sm-3 col-form-label' }}) }}
        <div class="col">
            {{ form_widget(form.username) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.email,'', { 'label_attr': {'class':'col-sm-3 col-form-label' }}) }}
        <div class="col">
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.password,'', { 'label_attr': {'class':'col-sm-3 col-form-label' }}) }}
        <div class="col">
            {{ form_widget(form.password) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.roles,'', { 'label_attr': {'class':'col-sm-3 col-form-label' }}) }}
        <div class="col">
            {{ form_widget(form.roles) }}
        </div>
    </div>


</div>