{% extends 'single.html.twig' %}

{% block title %}{{ parent() }} Utilisateur{% endblock %}

{% block single_header %}
    {{ include('structure/_breadcrum.html.twig',
        {
            'domaine': 'Utilisateur',
            'action' : 'Consultation',
            'listeUrl':'user_index'
        }) }}
{% endblock %}

{% block single_body %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th class="col-3">Nom&nbsp;d'utilisateur</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="footer">

                    <a class="btn btn-info btn-sm"
                       href="{{ path('user_edit', {'id': user.id}) }}" >
                        <i class="fas fa-edit"></i> Editer
                    </a>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
